
  <div class="height:max-content; width: max-content;" >
    <agm-map 
    class="map"
    [latitude]='latitude' 
    [longitude]='longitude'
    [mapTypeId]='mapType'
    [disableDoubleClickZoom]=true
    (mapRightClick) = "onRightClickHandle($event)"
    (mapClick) = "onClickHandler($event)"
    >
    <agm-marker *ngIf = "clickedPoint != undefined"
                [latitude]="clickedPoint.latitude" 
                [longitude]="clickedPoint.longitude">
              </agm-marker>
    </agm-map>
  </div>
  <div style="width: 400px; height: 200px; margin: 0 auto; margin-top:50px;">
    <input class="input" [(ngModel)]="phoneNumberValue">
    <button class="button" (click)="onButtonClick()" >Zarejestruj</button>
  </div>